/* Estilos básicos para la estructura de la página */

body {

font-family: Arial, sans-serif;

margin: 1;

padding: 0;

}

header, nav, footer {

background-color: #881db7;

padding: 10px;

text-align: center;

}

nav ul {

list-style-type: none;

padding: 0;

}

nav ul li {

display: inline;

margin: 0 10px;

}

nav ul li a {

text-decoration: none;

color: #333;

}

main {

padding: 20px;

}

.section {

margin-bottom: 20px;

}

.section h6 {

margin: 0;

font-size: 1.2em;

}

.image-container {

text-align: center;

margin: 20px 0;

}

footer {

background-color: #a26b00;

color: #fff;

padding: 10px;

}

table { border-collapse: collapse; width: 100%; margin: 20px 0; } th, td { border: 1px solid #a226d8; padding: 8px; text-align: center; } th { background-color: #a226d8; font-weight: bold; } tr:nth-child(even) { background-color: #cd9ce3; } tr:hover { background-color: #e2e2e2; }


.contenedor-flex {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme */
    align-items: center;
    height: 200px;
    background-color: lightgray;
}
 
.caja {
    width: 150px;
    height: 100px;
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
 
.contenedor-flex {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme */
    align-items: center;
    height: 200px;
    background-color: #881db7;
}
 
.caja {
    width: 600px;
    height: 200px;
    background-color: #881db7
      ;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
}
